.container_center {
    width: 100%;
    height: 55%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}


@media (max-width:1400px) {
    .container_center {
        height: 50%;
    }
}

@media (max-width:432px) {
    .container_center {
        flex-direction: column;
        padding: 10px;
    }

}

@media (max-width:932px) {
    .container_center {
        flex-direction: column;
        padding: 10px;
    }

}