.container_users {
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-sizing: border-box;
}


@media (max-width:432px) {
    .container_users {
        flex-direction: column;
    }

}

@media (max-width:932px) {
    .container_users {
        flex-direction: column;
    }

}